body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dd,dt {
    margin: 0;
    padding: 0;
    list-style: none;

    color: #696a67;
    font-family: "微软雅黑";
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #6a6b68;
}

img,input {
    vertical-align: middle;
    border: 0 none;
    outline-style: none;
    padding: 0;
    margin: 0;

}
 .claerfix::after {
     content: "";
     display: block;
     clear: both;
     height: 0;
     line-height: 0;
     visibility: hidden;
 }
 .claerfix {
     zoom: 1;
 }
 .left {
     float: left;
 }
 .right {
     float: right;
 }
.w {
    width: 1190px;
    margin: 0 auto;
}